 h1 {
     font-size: 50px;
 }

 body {
     display: flex;
     flex-direction: column;
     align-items: center;
     font-size: large;
 }

 input {
     font-size: medium;
     flex-basis: 200%;
     height: 50px;
     width: 400px;
     margin-top: 20px;
     margin-bottom: 20px;
     text-align: justify;
 }

 label {
     font-size: 30px;
     font-family: 'Courier New', Courier, monospace;
     margin-right: 10px;
 }

 button {
     font-size: 40px;
     border-radius: 12px;
     background-color: beige;
 }