 h1 {
     text-align: center;
     width: 100%;
 }

 button {
     margin-top: 20px;
     font-size: 20px;
     border-radius: 12px;
     background-color: beige;
     margin-right: 20px;
     width: 30%;
     margin-left: auto;
     margin-right: auto;

 }

 .div1 {
     flex-basis: 100%;
 }

 table {
     width: 100%;
     border-collapse: collapse;
 }

 input {
     font-size: medium;
     flex-basis: 100%;
     height: 50px;
     width: auto;
     margin-top: 20px;
     margin-bottom: 20px;
     text-align: start;
 }

 #start,
 #end {
     width: 200px;
     height: 40px;
     font-size: 16px;
     text-align: center;
     flex-basis: 170%;
 }

 #search_sheet {
     text-align: center;
     flex-basis: 70%;
 }

 .topnav {
     background-color: #333;
     overflow: hidden;
 }

 .topnav a {
     float: right;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
 }

 .topnav a:hover {
     background-color: #ddd;
     color: black;
 }


 .topnav a.active {
     background-color: #04AA6D;
     color: white;
 }

 label {
     display: block;
     margin-bottom: 5px;
     font-size: 16px;
     text-align: center;
 }

 input,
 textarea,
 select {
     width: 30%;
     margin-bottom: 15px;
     border-radius: 4px;
     font-size: 16px;

     margin-left: auto;
     margin-right: auto;
     display: block;
 }

 form {
     width: 50%;
     margin-left: auto;
     margin-right: auto;
 }